################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/**/bin/
/src/**/obj/
/src/.vs/TodoList
/src/TodoList.Application/bin/Debug/net5.0
/src/TodoList.Application/obj
/src/TodoList.Application.UnitTests/bin
/src/TodoList.Database/Import Schema Logs
/src/TodoList.Database/TodoList.Database.jfm
/src/TodoList.Database/TodoList.Database.dbmdl
